html{
	font-family: 'Forum', cursive;

	body{
		background-image: url(/img/digital_art-18418.png);
		background-size: 100%;
		overflow: hidden;
		text-align: center;


		button{
		 	border: white dotted;
			outline: none;
			background: black;
			color: white;
			padding: .5em 1em;
			font-size: 45px;
			width: 150px;
			height: 150px;
			border-radius: 30%;
			margin-left: 1em;

		   &:focus{
				background: white;
				color: black;
				border: black dotted;

		   }

	    }

		h1{
			border: white 0.5px dotted;
			box-shadow: inset 0 0 30px white;
			color:white;
			font-size: 150px;
		}
			
    }
}

